albumentations==0.4.3
audioread==2.1.5
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
cycler==0.10.0
decorator==4.4.1
dlib==19.10.0
et-xmlfile==1.0.1
h5py==2.10.0
idna==2.8
imageio==2.6.1
imgaug==0.2.6
jdcal==1.4.1
joblib==0.14.1
jsonpatch==1.24
jsonpointer==2.0
kiwisolver==1.1.0
librosa==0.7.0
llvmlite==0.31.0
matplotlib==3.1.2
networkx==2.4
numba==0.47.0
numpy==1.18.1
olefile==0.46
openpyxl==3.0.3
pandas==1.0.3
Pillow==7.0.0
pycparser==2.19
pyparsing==2.4.6
python-dateutil==2.8.1
pytz==2019.3
PyWavelets==1.1.1
PyYAML==5.3
pyzmq==18.1.1
requests==2.22.0
resampy==0.2.2
scikit-image==0.16.2
scikit-learn==0.22.1
scipy==1.4.1
seaborn==0.10.0
six==1.13.0
SoundFile==0.10.3.post1
torchfile==0.1.0
torchsummary==1.5.1
tornado==6.0.3
tqdm==4.42.0
urllib3==1.25.8
visdom==0.1.8.9
websocket-client==0.57.0
mkl-fft==1.0.15
mkl-service==2.3.0
opencv-python==4.1.1.26
opencv-python-headless==4.1.2.30
torch==1.4.0
torchvision==0.5.0
tqdm
visdom
